{% extends "base.html" %}

{% block content %}
  <h1>{{ driver.username }}</h1>

  <p><strong>First name:</strong> {{ driver.first_name }}</p>
  <p><strong>Last name:</strong> {{ driver.last_name }}</p>
  <p><strong>License number:</strong> {{ driver.license_number }}
    {% if user == driver %}
      <a href="{% url 'taxi:driver-update' pk=driver.id %}"
         class="btn btn-sm btn-secondary">Update License</a>
    {% endif %}
  </p>
  <p><strong>Is staff:</strong> {{ driver.is_staff }}</p>

  <hr>

  <h3>Cars</h3>
  {% if driver.cars.all %}
    <ul>
      {% for car in driver.cars.all %}
        <li><a
            href="{% url 'taxi:car-detail' pk=car.id %}">{{ car.manufacturer.name }} {{ car.model }}</a>
        </li>
      {% empty %}
        <li>No cars assigned.</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No cars assigned.</p>
  {% endif %}

  {% if user == driver %}
    <hr>
    <a href="{% url 'taxi:driver-delete' pk=driver.id %}"
       class="btn btn-danger">Delete Driver Account</a>
  {% endif %}

{% endblock %}